<h1>Public Goals</h1>

<div style="padding-bottom: 10px; float: left">
  <%= link_to 'New Goal', new_goal_path, class: "btn" %>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center-text">Goal</th>
    <th class="center-text">Participants</th>
    <th class="center-text">Activities Logged</th>
    <th class="center-text">Action</th>
  </tr>

<% @goals.each do |goal| %>
  <tr>
    <td class="center-text"><%= link_to goal.name, goal %></td>
    <td class="center-text"><%= goal.users.size %></td>
    <td class="center-text"><%= goal.logs.size %></td>
    <% if subscribed? goal %>
      <td class="center-text">
        <%= link_to 'Show', user_goal_path(user_goal_id(goal)), class: "btn btn-small"%>
      </td>
    <% else %>
      <td class="center-text">
        <%= link_to 'Do it!', new_user_goal_path(:goal_id => goal.id), class: "btn btn-small"%>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

