<p id="notice"><%= notice %></p>
<h1>  <%= @goal.name %></h1> 

<span style="float: right">
  <% if subscribed? @goal %>
    <%= link_to 'My Activity', user_goal_path(user_goal_id(@goal)), class: "btn" %>
    <%= link_to 'Quit Goal', '#' , class: "btn" %>
  <% else %>
    <%= link_to 'Do it!', new_user_goal_path(:goal_id =>@goal.id), class: "btn" %>
  <% end %>
  <%= link_to 'All Goals', goals_path, class: "btn" %> 
</span>
<h3>Participants</h3>
<table class="table table-striped table-bordered">
  <thead>
    <th>User</th>
    <th>Activities Logged</th>
  </thead>
<% @goal.user_goals.each do |user_goal| %>
  <tr>
    <td><%= link_to user_goal.user.name, user_path(user_goal.user) %></td>
    <td><%= user_goal.logs.size %></td>
  </tr>
<% end %>
</table>

<h3>Recent Activity</h3>
<table class="table table-striped table-bordered">
  <thead>
    <th>User</th>
    <th>Date</th>
    <th>Description</th>
  </thead>
<% @recent_logs.each do |log| %>
  <tr>
    <td><%= link_to log.user_goal.user.name, user_path(log.user_goal.user) %></td>
    <td><%= log.activity_date %></td>
    <td><%= log.description %></td>
  </tr>
<% end %>
</table>
