<p id="notice"><%= notice %></p>

<p>
  <b>Goal:</b>
  <%= @log.goal.name %>
</p>

<p>
  <b>Description:</b>
  <%= @log.description %>
</p>

<p>
  <b>Activity date:</b>
  <%= @log.activity_date %>
</p>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
